.container.light{
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: white;
    color:black;
    min-width: 100%;
}

.container.dark{
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: rgb(4, 4, 56);
    color:white;
    min-width: 100%;

}

.container label{
    margin: 30px 50px;
    font-weight: bold;
    font-size: 5ch;
    text-decoration:solid aqua;
    color:#4169E1; /* Green background */;
}
.container textarea{
    margin: 3px 50px;
    border: 3px solid black;
    border-radius: 5px;
    font-size: 18px; /* Increase the font size */
    padding: 10px; /* Add padding to give space inside the textarea */
    line-height: 1.7;

}
.container p{
    margin: 10px 60px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.container .buttons{
    margin: 0px 30px;
    /* background-color: #4169E1; */
    position: relative;
}
.container .buttons button{
    max-width: 100px;
    margin: 30px 50px;
    padding: 10px 20px;  /* Add padding for better size */
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    border: none; /* Remove default border */
    border-radius: 5px; /* Rounded corners */
    font-size: 16px; /* Adjust font size */
    cursor: pointer; /* Change cursor on hover */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Add smooth transition */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Add subtle shadow */
}

.container .buttons button:hover{
    background-color: rgb(8, 73, 73);
    transition: background-color 0.3s ease;
}